[submodule "Spark/vendor/GLFW"]
	path = Spark/vendor/GLFW
	url = https://github.com/Ramojinaidu/glfw.git
[submodule "Spark/vendor/spdlog"]
	path = Spark/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Spark/vendor/imgui"]
	path = Spark/vendor/imgui
	url = git@github.com:Ramojinaidu/imgui.git
	branch = docking
